/* Basic styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    background-color: #84beec;
    color: rgb(243, 238, 243);
    text-align: center;
    padding: 1rem 0;
}

main {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    padding: 10px;
}

img {
    width: 100%;
    height: 70%;
    cursor: pointer;
    border: 2px solid #070707;
}

img.hd {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    max-width: 90%;
    max-height: 90%;
    border: 5px solid #0a0a0a;
}

.caption {
    display: none;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
